.ztree-wrap {width:100%; height:100%; overflow:auto;}
.ztree-wrap-search{width:100%; height:85%; overflow:auto;}
.allhgt{height:100%;}
.pecenthgt{height:95%;}
.pecentinfohgt{height:92%;}
.ztree-search{height:80%;}